<style>
    * {
        padding: 0;
        margin: 0;
    }

    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .headnav {
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    }

    .listhead {
        list-style: none;
        display: flex;
        padding: 2px;
    }

    .same {
        padding: 10px;
        font-size: 18px;
    }

    .firstanchor {
        margin-left: 940px;
    }

    .secondsame:hover {
        cursor: pointer;
        background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
        color: white;
        border-radius: 20px;
    }

    /* this css for register file */
    .headtitle {
        color: aqua;
        font-size: 30px;
        font-family: sans-serif;
        text-align: center;
        padding: 20px;
    }

</style>

<nav class="headnav">
    <ul class="listhead">
        <li class="firstlist same secondsame">Kuldeep</li>
        <li class="secondlist same secondsame">home</li>
        <li class="thridlist same"> <a href="register" class="firstanchor">Registration</a> </li>
    </ul>
</nav>